.section1{
color: blue;

}

p{
color: red;
}

.yellowtext{
color; yellow
font-familly: verdana
}

button {
background-color: green;
font-size: 36px;
}

ul{
list-style-type: none;
}
